[mcu EBBT4]
canbus_uuid: b6a7b9879a12

[adxl345]
cs_pin: EBBT4: PB12
spi_software_sclk_pin: EBBT4: PB10
spi_software_mosi_pin: EBBT4: PB11
spi_software_miso_pin: EBBT4: PB2
axes_map: x,z,y

[extruder4]
step_pin: EBBT4: PD0
dir_pin: !EBBT4: PD1
enable_pin: !EBBT4: PD2
heater_pin: EBBT4: PB13
sensor_pin: EBBT4: PA4
rotation_distance: 47.088
gear_ratio: 9:1
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_only_distance: 1000
max_extrude_cross_section: 5
sensor_type: MAX31865
spi_bus: spi1
min_temp: 10
max_temp: 350
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2
control: pid
max_power: 0.7
pid_Kp: 22.817 
pid_Ki: 1.976  
pid_Kd: 65.885
min_temp: 0
max_temp: 300

[tmc2209 extruder4]
uart_pin: EBBT4: PA15
run_current: 0.5
stealthchop_threshold: 0

[heater_fan T4_hotend_fan]
pin: EBBT4: PA0
heater: extruder4
heater_temp: 50.0

[fan_generic T4_partfan]
pin: EBBT4: PA1

[gcode_macro T4]
variable_active: 0
variable_color: ""
gcode:
    SELECT_TOOL T=4


#change the tool numbers to the tool you are configuring, ie T0, T1, etc
[tool T4]
#change this too
tool_number: 4
#if this were T1, then this would be extruder1, etc
extruder: extruder4
#Change T0_partfan to tool number
fan: fan_generic T4_partfan
# Tool offset is 0.171875,-0.034375,-0.833750
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0.05
#These are build specific, its where the tool is sititng in it's dock.
params_park_x: 291.3
params_park_y: 1.1
params_park_z: 246.420
# For InputShaper run per tool and enter the frequency here
params_input_shaper_type_x: 'mzv'
params_input_shaper_freq_x: 52
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 37.2


[tool_probe 4]
pin: ^EBBT4:PB5
tool: 4
x_offset: 0 # X axis-sensor relative nozzle offset
y_offset: 0 # Y axis-sensor relative nozzle offset
# More positive: More Squish
z_offset: -0.880 # TEXTURED PLATE
#z_offset: -1.290 #-1.390 # SMOOTH PLATE
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.02
samples_tolerance_retries: 3
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder3

[filament_switch_sensor Filament_sensor_T4]
switch_pin: EBBT4:PB7
pause_on_runout: false
#runout_gcode:
#insert_gcode:
#event_delay:
#pause_delay:
